<%= form_for(@user) do |x| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= x.label :username %><br />
    <%= x.text_field :username %>
  </div>
  <div class="field">
    <%= x.label :email %><br />
    <%= x.email_field :email %>
  </div>
  <div class="field">
    <%= x.label :password %><br />
    <%= x.password_field :password %>
  </div>
  <div class="field">
      <%= x.label :password_confirmation %><br />
      <%= x.password_field :password_confirmation %>
    </div>
  <div class="actions">
    <%= x.submit %>
  </div>
<% end %>
