<h4>Welcome to</h4>
<h1>Breaddit</h1>
<br>

  <% @links.each do |x|%>
    <%= link_to "+1", upvote_path(x) %>
    <%= x.votes.count %>
      <% if x.votes.count > 0 %>
      <%= link_to "-1", downvote_path(x) %>
      <% else%>
      <%end%>
    <%= x.title %>
    <a href= "<%= x.link %>"><%=x.link%></a>
    <%= x.summary %>
    <%= link_to "trash", x, method: :delete  %>
    <br>
  <%end%>

<h3><%= button_to "Contribute", new_link_path, :method => :get %></h3>
